Tux/xsd/dico.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://xml.netbeans.org/schema/dico"
           targetNamespace="http://xml.netbeans.org/schema/dico"
           elementFormDefault="qualified">
    <xs:element name="dico" type="Dico"/>
    <xs:complexType name="Dico">
        <xs:sequence>
            <xs:element name="mot" type="xs:string" minOccurs="5" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
